:root {
  --color-primary: #afadad;
  --color-grey-light: #efefef;
  --color-grey-dark: #606060;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: var(--color-primary);
  font-family: sans-serif;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 5rem;
}

h1 {
  text-align: center;
  font-size: 8rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.input {
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.input-edit {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.6rem;
  border: none;
}

.input:focus,
.input-edit:focus {
  outline: none;
}

.btn-submit {
  margin-left: -50px;
  padding: 1rem 2rem;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: var(--color-grey-dark);
}

.todos-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.todo-item:nth-child(odd) {
  background-color: var(--color-grey-light);
}

.todo-item input {
  margin-right: 2rem;
}

.todo-item span {
  font-size: 1.8rem;
  margin-right: auto;
  color: var(--color-grey-dark);
}

.edit {
  margin-right: 1rem;
}
